@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

.history h3{
    font-family: merriweather;
    color: #9F5623;
    font-weight: 900;
    font-size: 2.4rem;

    margin-top: 12.9rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
}

.barH{
    width: 125rem;
    margin-left: 4rem;
    margin-top: 2rem;
}

.cards-container{
    display: flex;
    flex-direction: row;

    margin-top: 3rem;

    gap: 4.1rem;

    justify-content: center;
    align-items: center;
}

.box{

    background-color:  rgba(240, 240, 240, 0.8);
    width: 35rem;
    height: 30rem;
    border-radius: 20px;
}

.number1{
    display: flex;

    position: absolute;

    margin-top: 3.6rem;
    margin-left: 3rem;
/*     top: 3.6rem;
    left: 3rem; */

    font-family: montserrat;
    font-weight: 500;
    font-size: 5.4rem;

    color: #1A9D0F;

}

.textBox{
    font-family: 'Montserrat';

    display: flex;
    align-items: center;

    margin: 4rem 2rem 3rem 8.5rem;


    color: #162D55;

    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
}

