@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.container-sec3{
    display: grid;
    grid-template-columns: 1fr 1fr;
/*     grid-template-rows: 1fr 1fr; */

    margin-top: 5.8rem;

    width: 100%;
    gap: 3rem;
}
.imgsec3{
    grid-column: 1;
    grid-row: 1;

    margin-bottom: 3.6rem;

    height: 50rem;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}
.textsec3{
    grid-column: 2;
    grid-row: 1;
    margin-right: 8rem;
}

.txtsec3{
    margin-top: 1.6rem;

    font-weight: 400;
    font-size: 1.8rem;

    font-family: 'Montserrat', sans-serif;

    color: #162D55;
}

.titlesec3{
    font-size: 1.8rem;

    font-family: 'Montserrat', sans-serif;
    
    color: #5C5C5C;
}

.titlesec3 p{
    display: inline;

    color: #285CA9;
}
